@{
    ViewData["Title"] = "Home Page";
}
<form >
  @Html.AntiForgeryToken();
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>
<input type="submit" value="Submit" />

</form>
